[vCenter]
vcenter=vcenter.foo.bar
vcenteruser=domain\user
vcenterpw=password
datacenter=DC

[Folders]
folders=folder-file.txt

[VM Folder Map]
foldermap=test-vm-folder-map.csv

[ESX Hosts]
esxhosts=test-esx-hosts.txt
